{% extends 'login/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account?</p>
    <a href="{% url 'signup' %}">Signup</a>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}